.number-products{
    position: absolute;
    top:6px;
    right: 5px;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    font-size: 13px;
    background: #000;;
    line-height: 15px;
    text-align: center;
    color:#fff;
    transition: 0.5s ease;
    transform: rotate(0deg);
}
.cart:hover .number-products{
    top:10px;
    right:10px;
    transform: rotate(-720deg);
}

.shoping-cart{
    position: absolute;
    top:0;
    right: 0;
    width: 300px;
    border:2px solid #40b4b3;
    box-shadow: 0 0 6px #40b4b3;
    text-align: center;
    display: none;
}
main .container{
    position: relative;
}
.shoping-cart table td{
    text-align: center;
    vertical-align: middle;

}
.shoping-cart table td img{
    width: 40px;
    height: auto;
    margin: 0;
}
.shoping-cart table{
    width: 100%;
}
.shoping-cart table tbody tr{
    border-bottom: 1px solid #40b4b3;
}
.shoping-cart table tbody tr td{
    font-size: 14px !important
}
.shoping-cart tfoot td{
    color:#000;
    font-weight: bold;
    padding: 5px;
}
.checkout{
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    color:#fff;
    border:2px solid #40b4b3;
    background: #40b4b3;
    margin: 5px auto;
    transition: 1s ease;
}
.checkout:hover{
    background: #fff;
    color:#40b4b3;
    text-decoration: none;
}